/* google font for info text */
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  width: 450px;
  height: 450px;
}

.fighter-preview___right > img {
  transform: scaleX(-1);
}

.fighter-preview___info-block {
  align-self: center;
  text-align: center;
  min-height: 150px;
  min-width: 150px;
  background: #ffdfa7;
  margin: 10px;
  border: 5px solid #ca9650;
}

.fighter-preview___info-text {
  color: #267abf;
  font-weight: bold;
  font-family: 'Reggae One', cursive;
}
